@model IEnumerable<OdeToFood.Data.Models.Restaurant>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p>@Enumerable.Count(Model)</p>
</div>
<ul>
    @foreach (var s in Model)
    {
    <li>@s.Name</li>
    }
</ul>

